/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Oxygen|Francois+One);

body {
  color: rgb(40,12,2);
  background-color: #ddd;
  font-family: 'Oxygen', sans-serif;
}

.logo {
  font-family: 'Francois One', sans-serif;
}

.btn-1{
  background-color: rgba(129,59,9,.5);
  color: cornsilk;
  border: 1px solid rgba(129, 59, 9,.5);

}

.btn-2{
  background-color: rgba(222,184,135,.5);
  color: sienna;
  border: 1px solid rgba(222,184,135,.5);
}

.btn-3{
  background-color: rgba(165,42,42,.5);
  color: cornsilk;
  border: 1px solid rgba(165,42,42,.5);
}

.btn-1:hover{
  background-color: rgba(129,59,9,1);
  border: 1px solid rgba(129, 59, 9,1);
  color: rgb(255,252,240);
}

.btn-2:hover{
  background-color: rgba(222,184,135,1);
  border: 1px solid rgba(222,184,135,1);
  color: saddlebrown;
}



.reviewsIndexContainer {
  position: absolute;
  bottom: 30px;
  border: 1px solid black;
  background-color: rgba(245,235,225,.9);
  color: black;

}

.reviewFormItem {
  margin: 10px;
}

.reviewContainer {
  // border: 1px solid black;
  color: saddlebrown;
}

.reviewForm select{
  color: saddlebrown;
}

.reviewContent {
  // border: 1px solid black;
  background-color: white;
  // border-radius: 5px;
}

.MainContent {
  color: cornsilk;
}

.reviewHeader {
  color: saddlebrown;
  font-weight: bold;
  font-size: 1.2em;
}

.reviewBody {
  color: black;
  border: 1px solid black;
}

.reviewCommentsIndex {
  background-color: white;
  // border: 1px solid black;
  border-radius: 5px;

}

.newReviewFormContainer {
  // border: 1px solid black;
  border-radius: 5px;
}

.commentContainer{
  // border: 1px solid black;
}

.commentBody{
  color: black;
}

.deleteReviewButton, .editReviewButton{
  font-size: 12px;
  color: saddlebrown;
  text-decoration: underline;
  float: right;
  margin: 10px;
}

.deleteReviewButton:hover, .editReviewButton:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;

}

.landingPageContainer {
  margin: 0 auto;
  text-align: center;
}

.landingPage-1 {
  background: url("http://res.cloudinary.com/dbkzwcps1/image/upload/v1451354175/pouring_beer_sm_t0ruln.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;
}

.landingPage-2 {
  background: url("  http://res.cloudinary.com/dbkzwcps1/image/upload/v1451868529/cold_beers_sm_dc6vo8.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;
}

.landingPage-3 {
  position: relative;
  background: url("  http://res.cloudinary.com/dbkzwcps1/image/upload/v1451874524/beer_vxpdak.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;



}



.homeDiv {
  position: relative;
  background: url("http://res.cloudinary.com/dbkzwcps1/image/upload/v1451354129/2beers_sm_eirv74.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    min-height: 800px;
    width: 100%;
    color: cornsilk;

}

.landingPageStuff {
  margin-top: 30px;
  // border: 1px solid wheat;
  border-radius: 15px;


}
.landingPageButtons {

}

.landingPageButtons ul {
  list-style-type: none;
  margin-left: -35px;
  margin-top: 50px;
}

.landingPageButtons li {
  float: left;
  margin: 2px;
  text-align: center;
}

.authButton {
  margin-top: 15px;
}

.landingPageForm {
  color: black;
  font-weight: 200;
  background-color: rgba(255,255,255,.8);
  padding: 0 20px 0 20px;
}

.navbarLinksUl {
  list-style-type: none;
  float: left;
}

.navbarLinksUl li {
  float: left;
  font-size: 24px;
  padding: 5px;
  margin: 0 10px 10px 10px;
}

.navbarLinksUl li:hover {

}

.navbarLinks:hover {
  cursor: pointer;
  text-shadow: 0 0 5px sienna;
  color: black;

}

.navbar {
  background-color: rgba(245,245,245,.3);
  height: 50px;
  color: rgba(0,0,0,.5);
  text-shadow: 0 0 2px saddlebrown;
}

.navbarHeader {
  float: left;

}

.navbarContent {
  float: left;
}

.fixedWidth {
  width: 1100px;
  margin:  0 auto;
}

.select {
  width: 150px;
}

.centered {
  display: inline-block;
}

.or {
  color: white;
  border: 1px solid #ddd;
  background-color: rgba(160,82,45,.5);
  border-radius: 50%;
  margin: 10px;

}

.landingPageLogo {
  font-size: 100px;;
  margin-top: 0px;
  padding-top: 0px;
}

.landingPageSubLogo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.landingPageTag {
  padding-top: 40px;
}

.landingPageTag-2 {
  // color: black;
  position: relative;
  color: cornsilk;
  top: 50%;
  transform: translateY(75%);
  text-shadow: 0 0 3px darkslateblue;
  font-size: 36px;
  font-weight: 400;
}

.landingPageBlurb {
  position: relative;
  top: 0%;
  transform: translateY(250%);
  text-shadow: 0 0 3px black;
}

.landingPageBlurbHeader {
  font-family: 'Francois One', sans-serif;
  text-shadow: 0 0 3px black;

}

.guest1{
  padding-top: 10px;
}

.guest2{
  margin-top: 10px;
  text-shadow: 2px 2px 0 black;
  font-size: 20px;
  padding: 0;

}

.guest2:hover {
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
  color: white;
  // text-decoration: underline;

}

.indexItem {
  font-size: 18px;
  margin-bottom: 5px;
}

.indexItem:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 3px saddlebrown;
}

.indexContainer {


}

.friendApproveButton {
  margin: 5px;
}

.toastReviewButton:hover {
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 2px saddlebrown;
}

.footer {
  width:100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(245,245,245,.3);
  text-align: center;
}

.footer a {
  color: cornsilk;
}

.footer a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

.main {
  position: relative;
}
