/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Oxygen|Francois+One);
 @import "font-awesome-sprockets";
 @import "font-awesome";

body {
  color: rgb(40,12,2);
  background-color: #ddd;
  font-family: 'Oxygen', sans-serif;
}

.logo {
  font-family: 'Francois One', sans-serif;
}

.btn-1{
  background-color: rgba(129,59,9,.8);
  color: cornsilk;
  border: 1px solid rgba(129, 59, 9,.8);

}

.btn-2{
  background-color: rgba(222,184,135,.8);
  color: sienna;
  border: 1px solid rgba(222,184,135,.8);
}

.btn-3{
  background-color: rgba(165,42,42,.8);
  color: cornsilk;
  border: 1px solid rgba(165,42,42,.8);
}

.btn-1:hover{
  background-color: rgba(129,59,9,1);
  border: 1px solid rgba(129, 59, 9,1);
  color: rgb(255,252,240);
}

.btn-2:hover{
  background-color: rgba(222,184,135,1);
  border: 1px solid rgba(222,184,135,1);
  color: saddlebrown;
}



.reviewsIndexContainer {
  margin-bottom: 80px;
  // border: 1px solid black;
  background-color: rgba(245,235,225,.9);
  color: black;
  padding: 15px;
  border-radius: 4px;

}

.reviewFormItem {
  margin: 15px;
  margin-left: 0px;
}

.reviewForm {
  padding-bottom: 15px;
}

.addReviewButton {
  float: right;
  margin-right: 0px;
}

.reviewContainer {
  padding-bottom: 10px;
  margin-bottom: 10px;
  // border-bottom: 1px solid black;
  color: saddlebrown;
  border-radius:3px;
}

.reviewForm select{
  color: saddlebrown;
  margin-left: 15px;
}

.reviewContent {
  background-color: white;
}

.MainContent {
  color: cornsilk;
}

.reviewHeader {
  color: saddlebrown;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  padding-left: 0;
  margin:5px;
}

.reviewTitle {
  padding-left: 0;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewButtons {
  padding-right: 0px;
  padding-left: 40px;
  margin-top: 15px;
}

.reviewBody {
  color: black;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px;
  max-width: 470px;
}

.reviewBody:before {
    bottom: 100%;
    left: 24px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.reviewFooter {
  padding: 0;
  background-color: #eee;
  margin-top: 10px;
  margin-left: 5px;
}

.reviewFooterItem {
  padding: 0;
}

.reviewCommentsIndex {
  background-color: white;
  padding: 5px 0 10px 0;

}

.newReviewFormContainer {
  border-radius: 5px;
}

.commentContainer{
  margin: 15px;
  margin-left: 17px;

}

.commentBody{
  color: black;
}

.commentAuthor{
  color: saddlebrown;
}

.reviewCommentsIndex{

  // background-color: rgba(245,235,225,.9);
  // border-radius: 5px;
  // padding: 0;
}
.deleteReviewButton, .editReviewButton{
  font-size: 12px;
  color: saddlebrown;
  text-decoration: underline;
  // float: left;
  display: inline-block;
  margin: 5px;
}

.deleteReviewButton:hover, .editReviewButton:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;

}

.landingPageContainer {
  margin: 0 auto;
  text-align: center;
}

.landingPage-1 {
  background: url("http://res.cloudinary.com/dbkzwcps1/image/upload/v1451354129/2beers_sm_eirv74.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;

    background-color: #191B10;
}

.landingPage-2 {
  background: url("  http://res.cloudinary.com/dbkzwcps1/image/upload/v1451868529/cold_beers_sm_dc6vo8.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;
}

.landingPage-3 {
  position: relative;
  background: url("  http://res.cloudinary.com/dbkzwcps1/image/upload/v1451874524/beer_vxpdak.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    height: 100vh;
    width: 100%;
    color: cornsilk;



}



.homeDiv {
  // position: relative;
  background: url("http://res.cloudinary.com/dbkzwcps1/image/upload/v1451874524/beer_vxpdak.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 100vh;
    height: 100%;
    width: 100%;
    color: cornsilk;

}

.landingPageStuff {
  margin-top: 30px;
  border-radius: 15px;


}
.landingPageButtons {
  text-align: center;
  margin-top: 20px;
}


.landingPageForm {
  color: black;
  font-weight: 200;
  background-color: rgba(255,255,255,.8);
  padding: 0 20px 0 20px;
  border-radius: 4px;
}

.navbarLinksUl {
  list-style-type: none;
  float: left;
  margin:0;
  // padding-top: 10px;
  padding-bottom: 9px;
}

.navbarLinksUl li {
  float: left;
  font-size: 24px;
  padding: 5px;
  padding-bottom: 11px;
  margin: 0 10px 0 10px;

}

.navbarLinksUl li:hover {

}

.navbarLinks:hover {
  outline: 1px solid rgba(0,0,0,.3);
  cursor: pointer;
  // text-shadow: 0 0 5px sienna;
  color: cornsilk;
  background-color: rgba(0,0,0,.3);

}

.navbar {
  background-color: rgba(245,245,245,.9);
  height: 62px;
  color: saddlebrown;
  // text-shadow: 0 0 2px saddlebrown;
  // padding-bottom: 10px;
  margin-bottom: 0px;
  border-radius: 0;
  position: relative;
}

.navbarHeader {
  float: left;
  // max-height: 62px;
  // max-width: 200px;

}

.navbarContent {
  float: right;
}

.fixedWidth {
  width: 1100px;
  margin:  0 auto;
  height: 100%;
}
//
// .contentContainer {
//   background-color: rgba(120,82,45,.5);
//   padding: 20px;
//
// }
.select {
  width: 150px;
}

.centered {
  display: inline-block;
}

.or {
  color: cornsilk;
  border: 1px solid rgba(160,82,45,.8);
  background-color: rgba(160,82,45,.8);
  border-radius: 50%;
  margin: 15px;
  padding: 5px;

}

.landingPageLogo {
  font-size: 100px;;
  margin-top: 0px;
  padding-top: 0px;
}

.landingPageSubLogo {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.landingPageTag {
  padding-top: 20px;
}

.landingPageTag-2 {
  position: relative;
  color: cornsilk;
  top: 50%;
  transform: translateY(75%);
  text-shadow: 0 0 3px darkslateblue;
  font-size: 36px;
  font-weight: 400;
}

.landingPageBlurb {
  position: relative;
  top: 0%;
  transform: translateY(250%);
  text-shadow: 0 0 3px black;
}

.landingPageBlurbHeader {
  font-family: 'Francois One', sans-serif;
  text-shadow: 0 0 3px black;

}

.guest1{
  padding-top: 10px;
  margin-top: 10px;
}

.guest2{
  margin-top: 10px;
  text-shadow: 2px 2px 0 black;
  font-size: 20px;
  padding: 0;


}

.guest2:hover {
  // text-shadow: 2px 2px 3px black;
  cursor: pointer;
  color: white;
  // text-decoration: underline;

}

.indexItem {
  font-size: 18px;
  margin-bottom: 5px;
}

.indexItem:hover {
  cursor: pointer;
  color: white;
  // text-shadow: 0px 0px 3px saddlebrown;
}

.index {

padding-bottom: 80px;
}

.friendApproveButton {
  margin: 5px;
}

// .friendApproveButtons {
//   float: left;
//   margin-right: 10px;
//
// }

// .friendRequestNotification {
//   height: 100px;
// }

.toastStatus {
  position: relative;
  left: 10px;
}
.toastReviewButton {

}


.toastReviewButton:hover {
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 2px saddlebrown;
}

.footer {
  width:100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(245,245,245,.9);
  text-align: center;
  color: black;
}

.footer a {
  color: black;
}

.footer a:hover {
  cursor: pointer;
  // text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: blue;
}

.mainPage {
  position: relative;
  z-index: 1;
  min-height: 800px;
}

.main {
  position: relative;
}

textarea {
  resize: none;
}

.inline {
  display: inline-block;
}

.createCommentButton {
  margin: 20px;
}

.addCommentButton {
  margin-top: 20px;
}

.authButton {
  margin: 20px;
}

#newUserFormDiv {
  padding: 10px;
}

#newSessionFormDiv {
  padding: 10px;
}

.userSummary {
  background-color: rgba(245,235,225,.9);
  // border: 1px solid black;
  color: saddlebrown;
  margin: 15px;
  text-align: center;
  padding: 5px;
  height: 45px;
}

.userSidebar {
  // border: 1px solid black;
  background-color: rgba(245, 235, 225, .9);
  padding: 5px;
  border-radius: 4px;

}
.userSidebarElement {
  background-color: rgba(255,255,255,.9);
  // border: 1px solid black;
  color: saddlebrown;
  // margin: 10px;
  padding: 10px;
  margin: 10px;
}

.navbarLogo {
  padding:0 3px 9px 3px;
}

.navbarLogo:hover{
  outline: 1px solid rgba(0,0,0,.5);
  cursor: pointer;
  background-color: rgba(0,0,0,.3);
}

.beerSearch {
  font-size: 14px;
  width: 200px;

}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.beerSearch {
  width: 200px;
  height: 30px;
}

.beerSearch input {
  width: 100%;
  margin-top: 0px;
}

.beerSearchResults {
  width: 200px;
  background-color: rgba(255,255,255,.95);
  margin-left: 0;
  position: absolute;
  z-index: 1;

}

.beerSearchResultItem {
  font-size: 16px;
  min-width: 200px;
  border: 1px solid rgba(235,235,235,.9);
  margin: 0;
}

.searchIcon {
  color: #55595c;
}

.commentIcon {
  margin-left: 15px;
}

.signOutButton {
  margin-bottom: 12px;
}

.reviewLink:hover {
  color: #55595c;
}

.ratingStar {
  color: goldenrod;
  font-size: 1.5em;
}

.openReviewFormButton {
  margin-bottom: 15px;
}

.toastImg {
  height: 24px;
  width: 24px;
  background-image: url("beer-icon.png");
  margin: 0px;
  display: inline-block;
}

.toastCount {
  height: 24px;
  display: inline-block;
  margin-left: 10px;
}

.reviewToasts {
  color: darkslategrey;
  font-size: 20px;
}

.toastIcon {
  margin-left: 8px;
  color: saddlebrown;
}
