/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
  color: red;
  background-color: #ddd;
}

.reviewsIndexContainer {
  border: 1px solid black;
}

.reviewContainer {
  border: 1px solid black;
}

.reviewContent {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.reviewHeader {
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
}

.reviewBody {
  color: black;
}

.reviewCommentsIndex {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;

}
