// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signUpFormContainer {
  height: 600px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;

}
